.not-found-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}
@media (min-width: 768px) {
  .not-found-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.not-found-text {
  font-family: 'Bree Serif';
  color: #ffffff;
}
