.match-card {
  width: 45%;
  background-color: #0f172a;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (min-width: 768px){
  .match-card{
    width: 30%;
  }
}
.match-card-team-logo {
  width: 80px;
  height: 50px;
}
.match-card-team-name {
  font-family: 'Bree Serif';
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
.match-card-result {
  font-family: 'Bree Serif';
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}
.match-card-status {
  font-family: 'Bree Serif';
  text-align: center;
  font-size: 14px;
}

.won {
  color: #18ed66;
}
.lost {
  color: #e31a1a;
}
