.team-matches-bg-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.rcb {
  background-image: linear-gradient(to top, #1e293b, #a4261d);
}
.kkr {
  background-image: linear-gradient(to top, #1e293b, #5755a7);
}
.kxp {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
}
.csk {
  background-image: linear-gradient(to top, #1e293b, #f7db00);
}
.rr {
  background-image: linear-gradient(to top, #1e293b, #da237b);
}
.mi {
  background-image: linear-gradient(to top, #1e293b, #13418b);
}
.sh {
  background-image: linear-gradient(to top, #1e293b, #f26d22);
}
.dc {
  background-image: linear-gradient(to top, #1e293b, #4f5db0);
}

.team-matches-responsive-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.team-banner-image {
  width: 100%;
}

.latest-match-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
}

.list-container{
  padding-left: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
